<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        {% block style %}
        {% endblock %}
        <title>
            {% block title %}
                Welcome to Big Food
            {% endblock %}
        </title>
    </head>
    <body>
    <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- RESPONSIVE NAV -->
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('img/hamburger.png') }}"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                <!-- LEFT NAV -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Restaurants</a>
                            {{ render(controller('RestaurantBundle:Restaurant:restaurantsList')) }}
                        </li>
                    </ul>

                <!-- RIGHT NAV -->
                    <ul class="navbar-nav my-2 my-lg-0">
                    <!-- ADMIN -->
                        {% if  is_granted("ROLE_MANAGER") %}
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cogs"></i> Administration</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown07">
                                {% if is_granted("ROLE_ADMIN") %}
                                    <a class="dropdown-item" href="{{ path('add_recipe_type') }}"><i class="fas fa-plus-circle"></i> New Recipe Type</a>
                                    <a class="dropdown-item" href="{{ path('create_restaurant') }}"><i class="fas fa-plus-circle"></i> New Restaurant's Page</a>
                                    <hr>
                                {% endif %}
                                <a class="dropdown-item" href="{{ path('manage_recipe') }}"><i class="fas fa-cog"></i> Manage Recipes</a>
                                <a class="dropdown-item" href="{{ path('create_recipe') }}"><i class="fas fa-plus-circle"></i> New Recipe</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('manage_orders') }}"><i class="fas fa-cog"></i> Manage Orders</a>
                            </div>
                        </li>
                        {% endif %}
                    <!-- USER ACTION -->
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {{ app.user.username }}
                                {% else %}
                                    Account
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown07">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}"><i class="fas fa-user-circle"></i> Profile</a>
                                    <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                    {% else %}
                                    <a class="dropdown-item" href="{{ path('fos_user_security_login') }}"><i class="fas fa-sign-in-alt"></i> Login</a>
                                    <a class="dropdown-item" href="{{ path('fos_user_registration_register') }}"><i class="fas fa-user-plus"></i>Register</a>
                                {% endif %}
                            </div>
                        </li>
                    <!-- CART -->
                        {{ render(controller('BigFoodBundle:BigFood:countCart')) }}
                    </ul>
                </div>
            </div>
        </nav>
        <br>
    <!-- FLASH MSG -->
        <div class="container">
            {% for label,messages in app.flashes %}
                {% for message in messages %}
                    <div class="text-center">
                        <span class="alert alert-{{ label }}">{{ message }}</span>
                        <br><br>
                    </div>
                {% endfor %}
            {% endfor %}
    <!-- BODY -->
            {% block body %}
                <h1 class="text-center text-warning">WELCOME TO BIG FOOD</h1>
                <br>
                <div>
                    <img src="{{ asset('img/bigfood.jpg') }}" class="img-fluid">
                </div>
                <br>
            {% endblock %}
    <!-- FOOTER -->
            <footer class="text-center text-secondary">
                <hr>
                <ul class="list-inline" style="margin-bottom: 0.2rem;">
                    <li class="list-inline-item"><a class="text-secondary btn btn-sm" href="#">Contact-us</a></li>
                    <li class="list-inline-item"><a class="text-secondary btn btn-sm" href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a class="text-secondary btn btn-sm" href="#">Sitemap</a></li>
                </ul>
                <ul class="list-inline" style="margin-bottom: 0.2rem;">
                    <li class="list-inline-item"><a class="text-warning btn" href="#"><i class="fab fa-facebook-square fa-lg"></i></a></li>
                    <li class="list-inline-item"><a class="text-warning btn" href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
                    <li class="list-inline-item"><a class="text-warning btn" href="#"><i class="fab fa-snapchat fa-lg"></i></a></li>
                    <li class="list-inline-item"><a class="text-warning btn" href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
                </ul>
                <div>
                    <p><small>&copy; {{ "now"|date("Y") }} - BigFood</small></p>
                </div>
            </footer>
        </div>
    </body>
    {% block script %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
</html>