{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Checkout
{% endblock %}

{% block body %}
    <h1 class="text-center text-warning">PROCEED TO CHECKOUT</h1>
    <br>
    {% if cart is defined and cart is not empty %}
    <h3 class="text-center text-warning">{{ cart.restaurant.name|upper }}</h3>
        <div class="table-responsive">
            <table class="table text-left">
                <tr class="thead-light">
                    <th colspan="4">Your order</th>
                </tr>
                {% for recipe in cart.recipes %}
                    <tr class="table-hover">
                        <td>{{ recipe.name }}</td>
                        <td class="font-italic text-secondary">{{ recipe.description }}</td>
                        <td class="font-italic text-secondary">{{ recipe.price }} €</td>
                        <td><a href="{{ path('remove_from_cart', {'recipe': recipe.id, 'cart': cart.id}) }}" class="btn btn-warning btn-block" title="Remove from cart"><i class="fas fa-times"></i></a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="font-weight-bold">TOTAL :</td>
                    <td class="font-weight-bold">{{ cart.totalPrice }} €</td>
                    <td><a href="{{ path('proceed_checkout', {'id': cart.id}) }}" class="btn btn-warning btn-block" title="Order"><i class="fas fa-cart-arrow-down"></i></a></td>
                </tr>
            </table>
        </div>
    {% else %}
        <div class="text-center">
            <span class="alert alert-warning">Your cart is empty !</span>
        </div>
    {% endif %}
{% endblock %}