{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Manage Orders
{% endblock %}

{% block body %}
    <h1 class="text-center text-warning text-uppercase">Manage Orders to {{ restaurant.name }}</h1>
    <br>
    {% if carts is not empty %}
        <div class="table-responsive">
            <table class="table table-hover">
                <tr class="thead-light">
                    <th>Date</th>
                    <th>Username</th>
                    <th>Order</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
                {% for cart in carts %}
                    <tr>
                        <td>{{ cart.date|date("d/m/Y - H:i") }}</td>
                        <td>{{ cart.owner.username }}</td>
                        <td>
                            <ul class="list-group">
                            {% for recipe in cart.recipes %}
                                <li>{{ recipe.name }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>{{ cart.totalPrice }} € </td>
                        <td><a class="btn btn-warning" href="{{ path('archive_order', {'id': cart.id}) }}" title="Done"><i class="fas fa-check"></i></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="text-center">
            <span class="alert alert-warning">No pending orders</span>
        </div>
    {% endif %}
{% endblock %}