<div class="text-center">
    <h1 class="h3 mb-3 text-warning font-weight-normal">Change your password</h1>
    <form name="fos_user_change_password_form" method="post" action="{{ path('fos_user_change_password') }}" class="form-edit">
        <div id="fos_user_change_password_form">
            <div class="form-group">
                <label class="sr-only control-label required" for="fos_user_change_password_form_current_password">Current password</label>
                <input placeholder="Current password" type="password" id="fos_user_change_password_form_current_password" name="fos_user_change_password_form[current_password]" required class="form-control" />
            </div>
            <div class="form-group">
                <label class="sr-only control-label required" for="fos_user_change_password_form_plainPassword_first">New password</label>
                <input placeholder="New password" type="password" id="fos_user_change_password_form_plainPassword_first" name="fos_user_change_password_form[plainPassword][first]" required class="form-control" />
            </div>
            <div class="form-group">
                <label class="sr-only control-label required" for="fos_user_change_password_form_plainPassword_second">Repeat new password</label>
                <input placeholder="Confirm new password" type="password" id="fos_user_change_password_form_plainPassword_second" name="fos_user_change_password_form[plainPassword][second]" required class="form-control" />
            </div>
            {% if csrf_token('change_password') %}
                <input type="hidden" id="fos_user_change_password_form__token" name="fos_user_change_password_form[_token]" value="{{ csrf_token('change_password') }}" />
            {% endif %}
        </div>
        <div>
            <input class="btn btn-warning btn-block" type="submit" value="Update" />
        </div>
    </form>
</div>