<div class="text-center">
    <form name="fos_user_registration_form" method="post" action="{{ path('fos_user_registration_register') }}" class="form-register">
        <h1 class="h3 mb-3 text-warning font-weight-normal">Create your account</h1>

        <div id="fos_user_registration_form">
            <div class="form-group">
                <label class="sr-only control-label required" for="fos_user_registration_form_email">Email</label>
                <input placeholder="Email" type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required autofocus class="form-control" />
            </div>

            <div class="form-group">
                <label class="sr-only control-label required" for="fos_user_registration_form_username">Username</label>
                <input placeholder="Username" type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required maxlength="180" pattern=".{2,}" class="form-control" />
            </div>

            <div class="form-group">
                <label class="sr-only control-label required" for="fos_user_registration_form_plainPassword_first">Password</label>
                <input placeholder="Password" type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required class="form-control" />
            </div>

            <div class="form-group">
                <label class="sr-only control-label required" for="fos_user_registration_form_plainPassword_second">Confirm your password</label>
                <input placeholder="Repeat password" type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required class="form-control" />
            </div>


            {% if csrf_token('registration') %}
                <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="{{ csrf_token('registration') }}" />
            {% endif %}
        </div>

        <div>
            <p>By registering, you commit to picking-up any order you made through this web site. If you don't, Big Food will fuck you up.</p>
            <button class="btn btn-lg btn-warning btn-block" type="submit" id="_submit" name="_submit">Register</button>
        </div>

    </form>
</div>