{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ app.user.username }}'s profile
    {% else %}
        Account
    {% endif %}
{% endblock %}

{% block body %}
    {% for key, messages in app.session.flashbag.all() %}
        <div class="text-center">
            {% for message in messages %}
                <div class="alert alert-{{ key }}">
                    {{ message|trans({}, "FOSUserBundle") }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    {% block fos_user_content %}

    {% endblock %}
{% endblock %}