{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Orders
{% endblock %}

{% block body %}
    <h1 class="text-center text-warning">YOUR ORDERS</h1>
<!-- PENDING ORDERS -->
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Restaurant</th>
                    <th>Order</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for cart in pending %}
                    <tr>
                        <td>Pending</td>
                        <td>{{ cart.date|date("d/m/Y - H:i") }}</td>
                        <td>{{ cart.restaurant.name }}</td>
                        <td>
                            <ul class="list-group">
                                {% for recipe in cart.recipes %}
                                    <li>{{ recipe.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ cart.totalPrice }} € </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
<!-- PAST ORDERS -->
    <h2 class="text-center text-warning">PREVIOUS ORDERS</h2>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Restaurant</th>
                    <th>Order</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for cart in archived %}
                    <tr>
                        <td>Completed</td>
                        <td>{{ cart.date|date("d/m/Y - H:i") }}</td>
                        <td>{{ cart.restaurant.name }}</td>
                        <td>
                            <ul class="list-group">
                                {% for recipe in cart.recipes %}
                                    <li>{{ recipe.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ cart.totalPrice }} € </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}