{% trans_default_domain 'FOSUserBundle' %}

<div class="text-center">
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">

        <h1 class="h3 mb-3 font-weight-normal text-warning">Please sign in</h1>

        <div class="form-group">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
        </div>

        <div class="form-group">
            <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username" required autofocus />
        </div>

        <div class="form-group">
            <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
            <input class="form-control" type="password" id="password" name="_password" placeholder="Password" required />
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on" checked />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>

        <input class="btn btn-lg btn-warning btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>

    {% if error %}
        <div class="form-signin">
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        </div>
    {% endif %}
</div>


