{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Add Recipe Type
{% endblock %}

{% block body %}
    <h1 class="text-center text-warning">ADD A RECIPE TYPE</h1>
    {{ form(form) }}
{% endblock %}
