{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Create Restaurant
{% endblock %}

{% block body %}
    <h1 class="text-center text-warning">CREATE A NEW RESTAURANT</h1>
    {{ form(form) }}
{% endblock %}
