{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Create Recipe
{% endblock %}

{% block body %}
    <h1 class="text-center text-warning">CREATE A NEW RECIPE</h1>
    {{ form(form) }}
{% endblock %}
