{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Edit Recipe
{% endblock %}

{% block body %}
    <h1 class="text-center text-warning"> EDIT RECIPE</h1>
    <br>
    {{ form(form) }}
{% endblock %}