{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Manage Menu
{% endblock %}

{% block body %}
    <h1 class="text-center text-warning">{{ restaurant.name|upper }} - MANAGE RECIPES</h1>
    <br>
    <div class="text-center">
        <a class="btn btn-warning" href="{{ path('view_menu', {'id': restaurant.id, 'type' : 'all'}) }}"><i class="fas fa-caret-left"></i> Back to menu</a>
    </div>
    <br><br>
    <div class="card-deck">
        {% for recipe in recipes %}
            <div class="mb-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="card box-shadow">
                    <div class="card-header">
                        <h6 class="my-0 text-center font-weight-normal">{{ recipe.name }}</h6>
                    </div>
                    <div class="card-body">
                        <img class="card-img" src="{{ asset(recipe.image.webPath) }}"/>
                    </div>
                    <div class="card-footer text-center">
                        {% if restaurant.hasRecipe(recipe) %}
                            <a class="btn btn-block text-danger" href="{{ path('remove_recipe_from_menu', {'restaurant': restaurant.id, 'recipe': recipe.id}) }}" title="Remove"><i class="fas fa-times fa-lg"></i></a>
                        {% else %}
                            <a class="btn btn-block text-success" href="{{ path('add_recipe_to_menu', {'restaurant': restaurant.id, 'recipe': recipe.id}) }}" title="Add"><i class="fas fa-toggle-on fa-lg"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
