{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    Manage Recipes
{% endblock %}

{% block body %}
    <h1 class="text-center text-warning">MANAGE RECIPES</h1>
    <br>
    <div class="card-deck">
        {% for recipe in recipes %}
            <div class="mb-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="card box-shadow">
                    <div class="card-header">
                        <h6 class="my-0 text-center font-weight-normal">{{ recipe.name }}</h6>
                    </div>
                    <div class="card-body text-center">
                        <img class="card-img" src="{{ asset(recipe.image.webPath) }}"/>
                        <hr>
                        <p>{{ recipe.description }}</p>
                        <p class="font-weight-bold">{{ recipe.price }} €</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ path('edit_recipe', {'id': recipe.id}) }}" class="btn btn-info btn-sm" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                        <a href="{{ path('delete_recipe', {'id': recipe.id}) }}" class="btn btn-danger btn-sm" title="Delete"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
