{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    {{ restaurant.name }}'s Manager
{% endblock %}

{% block body %}
    <h1 class="text-center text-warning">SET A MANAGER FOR {{ restaurant.name|upper }}</h1>
    <br>
    <div>
        <form method="POST">
            <div class="form-group form-row">
                <label class="sr-only" for="manager">Choose a manager</label>
                <div class="col-6">
                    <select id="manager" name="manager" class="form-control">
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <input class="btn btn-warning" type="submit" value="OK"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}