{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    {{ restaurant.name }}'s menu
{% endblock %}

{% block body %}
    <h1 class="text-center text-warning">{{ restaurant.name|upper }}</h1>
<!-- FILTERS -->
    <div class="text-center">
        <a class="btn btn-warning btn-sm" href="{{ path('view_menu', {'id': restaurant.id, 'type': 'all' }) }}">All</a>
        <a class="btn btn-warning btn-sm" href="{{ path('view_menu', {'id': restaurant.id, 'type': 'Burgers' }) }}">Burgers</a>
        <a class="btn btn-warning btn-sm" href="{{ path('view_menu', {'id': restaurant.id, 'type': 'Drinks' }) }}">Drinks</a>
        <a class="btn btn-warning btn-sm" href="{{ path('view_menu', {'id': restaurant.id, 'type': 'Desserts' }) }}">Desserts</a>
    <!-- MANAGE MENU -->
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and ( is_granted('ROLE_ADMIN') or (app.user.username == restaurant.manager.username) ) %}
            <a class="btn btn-warning btn-sm" href="{{ path('manage_menu', {'id': restaurant.id}) }}"><i class="fas fa-plus"></i></a>
        {% endif %}
    </div>
    <br>
    {% if recipes is not defined %}
    <!-- FILTER 'ALL' -->
        <div class="table-responsive">
            <table class="table table-hover">
        <!-- BURGERS -->
                <thead>
                    <tr class="thead-light">
                        <th colspan="4">Burgers</th>
                    </tr>
                </thead>
                {% for burger in burgers %}
                    <tr>
                        {% if restaurant.hasRecipe(burger) %}
                            <td>{{ burger.name }}</td>
                            <td class="font-italic text-secondary">{{ burger.description }}</td>
                            <td class="font-weight-bold">{{ burger.price }} €</td>
                            <td><a href="{{ path('add_recipe_to_cart', {'recipe': burger.id, 'restaurant': restaurant.id}) }}" class="btn btn-warning" title="Add to cart"><i class="fas fa-cart-plus"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
        <!-- DESSERTS -->
                <thead>
                    <tr class="thead-light">
                        <th colspan="4">Desserts</th>
                    </tr>
                </thead>
                {% for dessert in desserts %}
                    <tr>
                        {% if restaurant.hasRecipe(dessert) %}
                            <td>{{ dessert.name }}</td>
                            <td class="font-italic text-secondary">{{ dessert.description }}</td>
                            <td class="font-weight-bold">{{ dessert.price }} €</td>
                            <td><a href="{{ path('add_recipe_to_cart', {'recipe': dessert.id, 'restaurant': restaurant.id}) }}" class="btn btn-warning" title="Add to cart"><i class="fas fa-cart-plus"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
        <!-- DRINKS -->
                <thead>
                    <tr class="thead-light">
                        <th colspan="4">Drinks</th>
                    </tr>
                </thead>
                {% for drink in drinks %}
                    <tr>
                        {% if restaurant.hasRecipe(drink) %}
                            <td>{{ drink.name }}</td>
                            <td class="font-italic text-secondary">{{ drink.description }}</td>
                            <td class="font-weight-bold">{{ drink.price }} €</td>
                            <td><a href="{{ path('add_recipe_to_cart', {'recipe': drink.id, 'restaurant': restaurant.id}) }}" class="btn btn-warning" title="Add to cart"><i class="fas fa-cart-plus"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="text-right">
            <a href="{{ path('checkout') }}" class="btn btn-warning"> Proceed to checkout <i class="fas fa-shopping-cart"></i> </a>
        </div>
    {% else %}
    <!-- FILTER BY TYPE -->
        <hr>
        <h3 class="text-center text-secondary">{{ type|upper }}</h3>
        <br>
        <div class="card-deck">
            {% for recipe in recipes %}
                {% if restaurant.hasRecipe(recipe) %}
                    <div class="mb-1 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="card box-shadow text-center">
                            <div class="card-header">
                                <h6 class="my-0 font-weight-normal">{{ recipe.name }}</h6>
                            </div>
                            <div class="card-body">
                                <img class="card-img img-fluid" src="{{ asset(recipe.image.webPath) }}"/>
                                <p>{{ recipe.description }}</p>
                            </div>
                            <div class="card-footer font-weight-bold">
                                <a href="{{ path('add_recipe_to_cart', {'recipe': recipe.id, 'restaurant': restaurant.id}) }}" class="btn btn-info btn-block"><i class="fas fa-cart-plus fa-lg" title="Add to cart"></i> {{ recipe.price }} €</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}