{% extends '@BigFood/layout.html.twig' %}

{% block title %}
    {{ restaurant.name }}
{% endblock %}

{% block body %}
    <h1 class="text-center text-warning">WELCOME TO {{ restaurant.name|upper }}</h1>
        <br>
        <div>
            <p>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('set_restaurant_manager', {'id': restaurant.id}) }}" class="text-warning"><i class="fas fa-cog"></i></a>
            {% endif %}
                Restaurant's manager : <i class="fas fa-user"></i>
            {% if restaurant.manager is not null %}
               <strong> {{ restaurant.manager.username }}</strong>
            {% endif %}
            </p>
            <br>
            <a class="btn btn-block btn-warning" href="{{ path('view_menu', {'id': restaurant.id, 'type': 'all'}) }}"> View Restaurant's Menu <i class="fas fa-angle-right"></i></a>
        </div>

        <hr>
        <div class="text-center">
            <address>
                <i class="fas fa-map-marker-alt fa-3x"></i>
                <br>
                <strong>{{ restaurant.name }}</strong>
                <br>
                {{ restaurant.address }}
                <br>
                {{ restaurant.zipcode }}
                {{ restaurant.town }}
            </address>
        </div>
{% endblock %}
